:root {
  --color-primary: #051A6C;
  --color-secondary: #31A6FF;
  --color-text: #1E1E1E;
  --color-text-2: #fff;
  --typo--title: cooperHewittHeavy;
  --typo--current: nunitoRegular;
  font-family: nunitoRegular;
  font-size: 62.5%;
  --font-size-1: 4.7rem;
  --font-size-2: 3.8rem;
  --font-size-3: 3.2rem;
  --font-size-4: 2.6rem;
  --font-size-5: 2.1rem;
  --font-size-6: 1.7rem; }
@font-face {
  :root {
    font-family: cooperHewittHeavy;
    src: url(../fonts/cooper-hewitt-heavy.otf); } }
@font-face {
  :root {
    font-family: nunitoRegular;
    src: url(../fonts/nunito-regular.ttf); } }
.body--home .header {
  position: relative;
  background-color: var(--color-primary);
  height: 10vh;
  display: flex;
  align-items: center; }
  .body--home .header .nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .body--home .header .nav .container--logo .link--logo .logo {
      width: 90px; }
    .body--home .header .nav .container--list .list {
      color: var(--color-text-2);
      display: flex;
      flex-direction: row;
      font-size: var(--font-size-6); }
      .body--home .header .nav .container--list .list .link--li .li {
        margin-left: 30px; }
.body--home .main .section--1 {
  height: 90vh;
  background-image: url(../images/home-basket-bg.png); }
  .body--home .main .section--1 .container .container--text {
    padding-top: 30vh;
    padding-bottom: 15vh;
    color: var(--color-text-2);
    text-align: center;
    width: 30%;
    margin: auto; }
    .body--home .main .section--1 .container .container--text .title {
      font-size: var(--font-size-1);
      margin-bottom: 20px; }
    .body--home .main .section--1 .container .container--text .text {
      font-size: var(--font-size-3);
      line-height: calc(1.2 * var(--font-size-3)); }
.body--home .main .section--2 {
  height: 90vh; }
  .body--home .main .section--2 .container--articles {
    padding-top: 15vh;
    padding-bottom: 15vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .body--home .main .section--2 .container--articles .article {
      position: relative;
      width: 30%;
      color: var(--color-text);
      text-align: center; }
      .body--home .main .section--2 .container--articles .article .container--icon {
        height: 15vh; }
        .body--home .main .section--2 .container--articles .article .container--icon .icon {
          width: 64px; }
      .body--home .main .section--2 .container--articles .article .title {
        margin-bottom: 40px;
        font-size: var(--font-size-4); }
      .body--home .main .section--2 .container--articles .article .text {
        font-size: var(--font-size-5);
        line-height: calc(1.2 * var(--font-size-5)); }
.body--home .main .container--button {
  background-color: var(--color-secondary);
  width: 190px;
  height: 50px;
  margin: auto;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .body--home .main .container--button .button__text {
    color: var(--color-text);
    font-size: var(--font-size-6); }
.body--home .footer {
  background-color: var(--color-primary);
  height: 20vh;
  color: var(--color-text-2);
  font-size: var(--font-size-6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .body--home .footer .container--text .text {
    margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
