@font-face 
{
  font-family:'cooperHewittHeavy';
  src: url(../fonts/cooper-hewitt-heavy.otf);
}
@font-face 
{
  font-family: 'nunitoRegular';
  src: url(../fonts/nunito-regular.ttf);
}

:root
{
  --color-primary: #051A6C;
  --color-secondary: #31A6FF;
  --color-text: #1E1E1E;
  --color-text-2: #fff;

  font-size: 62.5%; // 1rem = 10px

  --font-size-1: 4.7rem; 
  --font-size-2: 3.8rem; 
  --font-size-3: 3.2rem; 
  --font-size-4: 2.6rem; 
  --font-size-5: 2.1rem; 
  --font-size-6: 1.7rem; 

  --typo-title: cooperHewittHeavy; 
  --typo-current: nunitoRegular; 
}

/* 
*
** for all pages start
*
*/
.body
{
  .header
  {
    position: relative;
    background-color: var(--color-primary);
    height: 10vh;
    display: flex;
    align-items: center; 
    .nav
    {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .container--logo
      {
        .link--logo
        {
          .logo
          {
            width: 90px;
          }
        }
      }
      .container--list
      {
        .list
        {
          color: var(--color-text-2);
          display: flex;
          flex-direction: row;
          font-size: var(--font-size-6);
          .link--li
          {
            .li
            {
              font-family: var(--typo-current);
              margin-left: 30px;
            }
          }
        }
      }
      .container--title
      {
        position: absolute;
        width: 40%;
        left: 30%;
        text-align: center;
        .title
        {
          color: var(--color-text-2);
          font-size: var(--font-size-2);
          font-family: var(--typo-title);
        }
      }
      .container--profile
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile__name
        {
          color: var(--color-text-2);
          font-size: var(--font-size-6);
          font-family: var(--typo-current);
        }
        .container--img
        {
          width: 70px;
          height: 70px;
          background-color: #fff;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 40px;
          .profile__img
          {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  .container--form
  {
    width: 40%;
    .title--form
    {
      color: var(--color-primary);
      font-size: var(--font-size-4);
      margin-bottom: 40px;
      font-family: var(--typo-title);
    }
    .field
    {
      position: relative;
      margin-bottom: 24px;
      font-family: var(--typo-current);
      label
      {
        color: #696969;
        position: absolute;
        font-size: var(--font-size-6);
        top: calc(50% - (var(--font-size-6)/ 2));
        left: 35px;
        transition: all 0.3s;
      }
      .label--focus
      {
        top: calc(10%);
        font-size: 14px;
        transition: all 0.3s;
      }
      .input
      {
        background-color: #F3F5FA;
        height: 70px;
        color: var(--color-text);
        font-size: var(--font-size-6);
        width: 100%;
        padding-left: 35px;
        border-radius: 4px;
      }
      .submit         
      {
        margin-top: 16px;
        background-color: var(--color-secondary);
        height: 50px;
        width: 50%;
        font-size: var(--font-size-6);
        border-radius: 3px;
      }
    }
  }
  .footer
  {
    background-color: var(--color-primary);
    height: 20vh;
    color: var(--color-text-2);
    font-size: var(--font-size-6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--typo-current);
    .container--text
    {
      .text
      {
        margin-bottom: 20px;
      }
    }
  }
}
/* 
*
** for all pages end
*
*/

.body
{
  .main--home
  {
    .section--1
    {
      height: 90vh;
      background-image: url(../images/home-basket-bg.png);
      .container
      {
        .container--text
        {
          padding-top: 30vh;
          padding-bottom: 15vh;
          color: var(--color-text-2);
          text-align: center;
          width: 30%;
          margin: auto;
          .title
          {
            font-family: var(--typo-title);
            font-size: var(--font-size-1);
            margin-bottom: 20px;
          }
          .text
          {
            font-size: var(--font-size-3);
            font-family: var(--typo-current);
            line-height: calc(1.2 * var(--font-size-3));
          }
        }
      }
    }
    .section--2
    {
      height: 90vh;
      font-family: var(--typo-current);
      .container--articles
      {
        padding-top: 15vh;
        padding-bottom: 15vh;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .article
        {
          position: relative;
          width: 30%;
          color: var(--color-text);
          text-align: center;
          .container--icon
          {
            height: 15vh;
            .icon
            {
              width: 64px;
            }
          }
          .title
          {
            margin-bottom: 40px;
            font-size: var(--font-size-4);
          }
          .text
          {
            font-size: var(--font-size-5);
            line-height: calc(1.2 * var(--font-size-5));
          }
        }
      }
    }
    .container--button
    {
      background-color: var(--color-secondary);
      width: 190px;
      height: 50px;
      margin: auto;
      position: relative;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      .button__text
      {
        color: var(--color-text);
        font-size: var(--font-size-6);
        font-family: var(--typo-current);
      }
    }
  }
  
  /*
  *
  ** page connexion sart
  *
  */
  .main--connexion
  {
    .section--1
    {
      height: 30vh;
      background-image: url(../images/inscription-basket-bg.png);
      display: flex;
      justify-content: center;
      align-items: center;
      .container
      {
        .title
        {
          font-size: var(--font-size-1);
          color: var(--color-text-2);
          font-family: var(--typo-title);
        }
      }
    }

    .container--message
    {
      padding-top: 50px;
      width: 80%;
      margin: auto;
      text-align: center;
      font-size: var(--font-size-5); 
      font-family: var(--typo-current);
      .message--error
      {
        color: red;
      }
      .message--success
      {
        color: green;
      }
    }

    .section--2
    {
      position: relative;
      width: 80%;
      margin: auto;
      margin-top: 70px; 
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      .container--inscription
      {
        .registration
        {
          .container--name
          {
            position: relative;
            display: flex;
            justify-content: space-between;
            .field
            {
              width: 45%;
            }
          }
        }
      }
    }
  }

  .title--ranking
    {
      color: var(--color-primary);
      font-size: var(--font-size-4);
      margin-top: 10vh;
      margin-left: 18vh;
      font-family: var(--typo-title);
    }
  .main--ranking
  {
    .text
    {
      font-size: var(--font-size-3);
      font-family: var(--typo-current);
      line-height: calc(1.2 * var(--font-size-3));
      // margin-top: 4px;
    }
    margin-bottom: 100px;
    .section--1
    {
      height: 30vh;
      background-image: url(../images/ranking.png);
      display: flex;
      justify-content: center;
      align-items: center;
      .container
      {
        .title
        {
          font-size: var(--font-size-1);
          color: var(--color-text-2);
          font-family: var(--typo-title);
        }
      }
    }
    .section--2
    {
      background-color: #fff;
      .nav
      {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        a
        {
          font-family: var(--typo-current);
          font-size: var(--font-size-3);
          color: var(--color-primary);
        }
        .link
        {
          text-decoration: underline;
        }
      }
    }
    .section--3
    {
      position: relative;
      width: 80%;
      margin: auto;
      margin-top: 4vh; 
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;

      .container-infos
      {
        width: 85vh;
        height: 8vh;
        background-color: #F3F5FA;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .container-stats
      {
        width: 85vh;
        height: 8vh;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .col-name
      {
        width: 25%;
        height: 8vh;
        display: flex;
        align-items: center;
        font-size: var(--font-size-5);
        font-family: var(--typo-current);
        line-height: calc(1.2 * var(--font-size-3));
      }
      .col-points
      {
        width: 10%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-5);
        font-family: var(--typo-current);
        line-height: calc(1.2 * var(--font-size-3));
      }
      .col-win
      {
        width: 10%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-5);
        font-family: var(--typo-current);
        line-height: calc(1.2 * var(--font-size-3));
      }
      .col-loose
      {
        width: 10%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-5);
        font-family: var(--typo-current);
        line-height: calc(1.2 * var(--font-size-3));
      }
      .dunk
      {
        width: 30vw;
        height: 60vh;
      }
    }
  }

  .main--league
  {
    margin-bottom: 100px;
    .section--1
    {
      height: 30vh;
      background-image: url(../images/inscription-basket-bg.png);
      display: flex;
      justify-content: center;
      align-items: center;
      .container
      {
        .title
        {
          font-size: var(--font-size-1);
          color: var(--color-text-2);
          font-family: var(--typo-title);
        }
      }
    }
    .section--2
    {
      position: relative;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      .container--form
      {
        width: 50%;
        .info
        {
          font-family: var(--typo-current);
          font-size: var(--font-size-5);
          line-height: calc(1.2 * var(--font-size-5));
          padding-top: 50px;
          margin-bottom: 21px;
        }
        .button--add
        {
          .text
          {
            font-size: var(--font-size-6);
            font-family: var(--typo-current);
            color: #696969;
            cursor: pointer;
          }
        }
        .hidden
        {
          display: none;
        }
        .field
        {
          .submit
          {
            cursor: pointer;
          }
        }
      }
      .container--illu
      {
        width: 400px;
        height: 600px;
        background-image: url(../images/ligue-basket-bg.png);
      }
    } 
  }
  .main--board
  {
    background-color: #F4F4F4;
    .section--1
    {
      height: 30vh;
      background-image: url(../images/coach.png);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      .container
      {
        .title
        {
          font-size: var(--font-size-1);
          color: var(--color-text-2);
          font-family: var(--typo-title);
        }
      }
    }
    .section--2
    {
      width: 90%;
      margin: auto;
      background-color: #fff;
      .container
      {
        width: 90%;
        padding-top: 30px;
        margin: auto;
        position: relative;
        min-height: 80vh;
        .title
        {
          color: var(--color-primary);
          font-family: var(--typo-title);
          font-size: var(--font-size-3);
          margin-bottom: 30px;
        }
        .container--league
        {
          position: relative;
          .league
          {
            width: 30%;
            height: 188px;
            background-image: url(../images/ligue1.png);
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: center;  
            position: relative;
            float: left;
            margin: 0 15px 50px 15px;
            .container--delet
            {
              display: flex;
              justify-content: flex-end;
              .button--delet
              {
                background-color: #fff;
                width: 30px;
                height: 30px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                .form
                {
                  .input
                  {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    font-family: var(--typo-current);
                    font-size: var(--font-size-4);
                  }
                }
              }
            }
            .container--title
            {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 70%;
              .league__title
              {
                color: var(--color-text-2);
                font-size: var(--font-size-4);
                font-family: var(--typo-current);
              }
            }
            .button--go
            {
              background-color: var(--color-secondary);
              width: 190px;
              height: 50px;
              margin: auto;
              position: relative;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              .link
              {
                color: var(--color-text);
                font-size: var(--font-size-6);
                font-family: var(--typo-current);
              }
            }
          }
          .league--new
          {
            width: 30%;
            height: 188px;
            background-image: url(../images/new-league.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;  
            position: relative;
            float: left;
            margin: 0 15px 50px 15px;
            .link
            {
              position: absolute;
              top: 68%;
              left: calc(50% - 60px / 2);
              .button--new
              {
                width: 60px;
                height: 60px;
                background-color: var(--color-secondary);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .cross
                {
                  color: var(--color-text-2);
                  font-size: var(--font-size-1);
                  font-family: var(--typo-current);
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  .error-text
  {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h2
    {
      margin-top: 10vh;
      font-size: 60px;
      color: var(--color-primary);
      font-family: var(--typo-title);
    }
    p
    {
      margin-top: 2vh;
      font-size: var(--font-size-3);
      color: var(--color-text);
      font-family: var(--typo-current);
    }
  }
  .main--404
  {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main--club
  {
    background-color: #f4f4f4;
    .section--1
    {
      height: 30vh;
      background-image: url(../images/club.png);
      display: flex;
      align-items: center;
      .container
      { 
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .container--profile
        {
          .container--img
          {
            width: 120px;
            height: 120px;
            background-color: #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .profile__img
            {
              width: 90px;
              height: 90px;
            }
          }
          .name
          {
            font-family: var(--typo-current);
            font-size: var(--font-size-3);
            color: var(--color-text-2);
          }
        }
        .container--date
        {
          position: absolute;
          font-family: var(--typo-title);
          font-size: var(--font-size-2);
          color: var(--color-text-2);
          text-align: center;
          width: 40%;
          left: 30%;
          top: 20%;
        }
      }
    }
    .section--2
    {
      background-color: #fff;
      .nav
      {
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        a
        {
          font-family: var(--typo-current);
          font-size: var(--font-size-3);
          color: var(--color-primary);
        }
        .link
        {
          text-decoration: underline;
        }
      }
    }
    .section--3
    {
      padding-top: 100px;
      min-height: 150vh;
      position: relative;
      // .container--img
      // {
      //   position: absolute;
      //   width: 50%;
      //   left: 25%;
      //   background-image: url(../images/parket.png);
      //   height: 60vh;
      //   background-position: center;
      //   background-size: 100%;
      //   background-repeat: no-repeat;
      // }
      .container--team
      {
        margin-top: 100px;
        background-color: #fff;
        width: 90%;
        margin: auto;
        height: 50vh;
        .title
        {
          font-family: var(--typo-title);
          font-size: var(--font-size-3);
          color: var(--color-primary);
          text-align: center;
        }
        .container--players
        {
          display: flex;
          justify-content: space-between;
          .player
          {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            height: 30vh;
            position: relative;
            .name
            {

              font-size: var(--font-size-4);
              font-family: var(--typo-current);
            }
            .container--img
            {
              img
              {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
